
#home{
  background-image: url("http://john.wethemez.com/static/media/profile.8ca05271.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 880px;
  position: absolute;
  margin-top: -220px;
  
}
#home1{
  margin-top: 400px;
}

